# Data wrangling with pandas

**References**:
+ https://pandas.pydata.org/docs/index.html

**Content**:
+ Pandas
    + Structure of a DataFrame
    + Basic operations on DataFrames and Series
    + Loading, printing, & saving DataFrames
    + Select & Filter
    + Aggregate data & group-by
    + Reshaping: sort, pivot-wider, pivot-longer

+ **pandas** is an open source data analysis and manipulation tool, built on top of the Python programming language. 
+ import convention: `import pandas as pd`

### Dataframes
+ pandas operates on **dataframes** consisting of rows and columns (2dimensional data structure)
+ create a new dataframe
    + use `pd.DataFrame` to create a new dataframe 
    + input is a **dictionary** (`key`s represent column names and `value`s (stored in a list) are the values of the column)
+ each column in a `DataFrame` is a `Series`, which you can create also from scratch

In [ ]:
# import pandas

# create a new dataframe
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

# extract column `Age`

# get type of column

# create a new series 

# create and add a new column to your dataframe

### Basic operations on DataFrames and Series
+ get minimum (`min`) and maximum (`max`) values from a column
+ get unique values of a column (`unique`)
+ get basic statistics from columns with numerical data (`describe`)

In [2]:
# get maximum, minimum, and unique values from a column


# some basic statistics of the numerical data
# shows only Age as it is the only col with numerical data

### Loading, printing, & saving data sets
+ load dataframes
    + read local file
        + download titanic data set from the following [source](https://github.com/datasciencedojo/datasets/blob/master/titanic.csv) and save it locally
        + read .csv file with `pd.read_csv`
    + use example data sets from seaborn
        +  the `seaborn` library comes with some example data sets that are easy to download
        +  use `sns.load_dataset` for downloading an example data set
        +  an overview of the example datasets from seaborn can be found [here](https://github.com/mwaskom/seaborn-data)
+ show dataframe information
    + first/last n rows (`df.head(n=...)`/`df.tail(n=...)`
    + types of each column `df.dtypes`
+ save datasets in a different format (e.g., `df.to_excel()`)

In [3]:
# read csv file from local directory

# get first 7 rows

# get last 5 rows

# get types of each column

In [4]:
# use example datasets from seaborn

In [5]:
# !pip install openpyxl

# save dataframe as excel spreadsheet

### Select & filter 
+ select one column by indexing `df["col_name"]`
+ select multiple columns `df[["col_name1", "col_name2"]]`
+ filter rows from a dataset `df[condition]` (e.g. `df[df["Age"] < 12]`)
+ When combining multiple conditional statements, each condition must be surrounded by parentheses `()` (e.g., `df[(df["Age"]<10) & (df["pClass"] == 3)]`)
+ You can not use `or`/`and` but need to use the or operator `|` and the and operator `&`
+ when you want to indicate in a condition that a column should be equal to multiple values, you might want to use `.isin()` (e.g. `df[df["Age"].isin([12,13,14])]`)
+ use `.notna()` to filter all observations that are not NaN

In [8]:
# select column Age from the titanic dataset

# get number of observations in column
# different approaches

# select multiple columns

# filter specific rows from the dataset
# condition based on one column

# multiple conditions based on multiple columns

# equal to multiple values

# select only the observations where 'age' is not NaN

**Select specific rows and columns (subset of dataset)**
+ you can also directly select specific columns **by name** with specific conditions using `df.loc["col1" > 3, "col2"]` (Note the squared brackets here)
+ when you rather want to select rows and columns **by indexing** you can use `df.iloc[i_rows, i_cols]`
+ when you have selected specific values with `loc` or `iloc` you can **assign new values** to them

In [9]:
# select columns with specific condition

# select specific columns/ rows by indexing
# first seven rows of the first three columns

In [10]:
# assign new value to selected column value

+ **create new columns** derived from existing columns
    + extract the target column, do respective computation on that column, and save it as new column (`dat["new_col"] = dat["old_col"]*1.17`)
    + calculation of the values is done element-wise
+ **rename column names** or **index label of each row**
    +  use `rename` method
    +  for changing the column name: pass to the `columns` argument a dictionary with key-value pairs: `{"old name": "new name"}`
    +  for changing the index label of each row: pass to the `index` argument a dictionary with key-value pairs: `{0: "id_0", 1: "id_1", ...}`

In [11]:
# Fare price in pound (let's ignore for a sec. that 1912 no euro exist..and that the value has changed)

# rename the data columns

# change index label of each row

In [12]:
# create new column which merges the information of two other columns

### Aggregate data & Group-by
+ compute **mean** of one column using the `col.mean()` method
+ compute **median** of multiple columns using the `cols.median()` method
+ pre-defined aggregating statistics can be calculated for multiple columns at the same time using the `df.describe()` method
+ you can also create your own list of aggregating statistics using `df.agg()` method

In [13]:
# mean of a single column

# median of multiple columns

# compute agg. statistics for all numeric columns

# create your own set of aggregated statistics

+ **group-by** and **aggregate** information
    + for single/multiple columns (`df[cols].groupby(col).mean()`)
    + for all *numeric* columns (note: `numeric_only=True`)
    + for multiple aggregation statistics (note: `.agg({col1: [stat1, stat2], col2: [stat1, stat2]})`)

In [14]:
# group by gender and compute for each leven the mean age

# alternative

# group by gender and compute mean for all numeric columns
# if you don't pass 'numeric_only'=True it will run into an error, as it tries to compute the mean of the str columns

# group by multiple variables and compute also multiple statistics

# create your own statistic

# compute mode for Age grouped by gender

+ count the number of records for each category in a column with `col.value_counts()`
    + use the `dropna` argument to include or exclude the NaN values
+ `size` and `count` can be used in combination with `groupby`
    + `size` **includes NaN** values and provides the number of rows (size of the table),
    + `count` **excludes missing values**

In [15]:
# count number of class occurencies (default: Don’t include counts of NaN.)

# count number of class occurencies and include counts of NaN

# shortcut for:

# difference between count and size

### Reshaping 
+ sort table rows with `df.sort_values()`

In [16]:
# sort the Titanic data according to the age of the passengers

# sort the Titanic data according to the cabin class and age in descending order

+ **Long to wide** table format with `pivot_table`
    + `values`: Column or columns to aggregate
    + `index`: Keys to group by on the pivot table index
    + `columns`: Keys to group by on the pivot table column
    + `aggfunc`: aggregation function; default is mean
    + `margins`: When interested in the row/column margins (subtotals) for each variable, set argument to `True`
    + etc.

In [17]:
# average fare for gender x embarked 

# average age of gender x embarked x class

# survival prob. and counts for gender x embarked x class 

# include totals in margins

+ **Wide to long** format with `melt()`
    + `id_vars`: Column(s) to use as identifier variables.
    + `value_vars`: Column(s) to unpivot. If not specified, uses all columns that are not set as id_vars.
    + `var_name`: Name to use for the 'variable' column. If None it uses frame.columns.name or ‘variable’.
    + `value_name`: Name to use for the ‘value’ column, can’t be an existing column label.
    + `ignore_index`: If True, original index is ignored. If False, the original index is retained.
    + etc.

In [18]:
# dataset with one index
# create a wide data format

# create a long data format

In [19]:
# data set with two indices
# create a wide format of the data

# create a long format of the data